.container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #190658;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  font-family:"Montserrat";
  color:#d11c1c ;
}

img {
  width: 80%;
}

footer {
  margin-top: 10%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media (max-width:970px) and (min-width:538px){
  h1{
    font-size: 3.5rem;
  }
  .container {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  footer {
    margin-top: 18%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  }
@media (max-width:537px){
  h1{
    font-size: 2.5rem;
   
  }
  .container {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  img {
    width: 60%;
  }
  .dice {
    text-align: center;
    display: inline-block;
    width: 150px;
  }
  p {
    font-size: 1rem;
  }
  footer {
    margin-top: 20%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
}
